body{
  font-family: 'Roboto', sans-serif;
}

.navbar img{
  width: 70%;
}

.container{
  margin-bottom: 40px;
  padding: 10px;
}

.carousel{
  background-image: url(images/banners/banner-bg-3.png);
  background-repeat: no-repeat;
  background-position: bottom;

}

.carousel .col-md-5{
  background-image: url(images/banners/banner-bg-01.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
   
}

.carousel-img{
  width: 80%;
}

.carousel-indicators [data-bs-target] {
  
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color:#fff;
}

.buy-now-btn{
  border-style: none;
  /* background-image: linear-gradient(to bottom, #c56cf0 0%, #cd84f1 100%); */
  padding: 8px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  background-color: #3d3d3d;
}

.btn-icon{
  margin-left: 5px;
}


p{
  color: gray;
}


h1{
  color: #3d3d3d;
}


.product-category{
 margin-bottom: 50px;
}


.see-all{
  color: tomato;
  font-weight: 600;
  cursor: pointer;
}


.card{
  border: none;
}


.product{
  text-align: center;
}


.phones img{
  width: 100%;
  }


.product-price{
  margin-bottom: 20px;
}


.card-footer{
  border-top: none;
  background: #fff;
}


.underline{
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  padding-top: 50px;
  
}

.underline::after{
  content: '';
  height: 5px;
  width: 8%;
  background-color: coral;
  position: absolute;
  left: calc(50% -4%);
  bottom: -10px;
  
}


.cat-bag, .cat-beauty, .cat-shoes{
  cursor: pointer;
}

.category{
  margin-top: 100px;
}

.category img{
  width: 100%;
}
#shopping{
  width: 80%;
}

footer{
  text-align: center;
} 




